@import url("fonts.css");
@import url("game.css");
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug {
    outline: 1px solid red;
    background-color: rgba(255, 0, 255, 10%);
}

.no-scroll {
    overflow: hidden;
}

html,
body {
    margin: 0;
    height: 100%;
}