<template id="tmpl-game-board">
    <style>
        :host {
            --cell-empty-opacity: 36%;
            --cell-color-dark: rgba(0, 0, 0, var(--cell-empty-opacity));
            --cell-color-light: rgba(255, 255, 255, var(--cell-empty-opacity));
            --cell-border-color: rgba(153, 145, 102, 100%);
            --cell-space: calc(min(0.25vh, 0.5vw)/2 + 0.49px);
            /**/
            /* box-shadow: 8px 8px 36px 16px rgba(0,0,0,0.43) inset; */
            --cell-shadow: var(--cell-space) var(--cell-space) calc(4 * var(--cell-space)) calc(2 * var(--cell-space)) rgba(0, 0, 0, .66) inset;
            /* --cell-highlight: 0 0 calc(12 * var(--cell-space)) 0 rgba(255, 255, 255, 100%) inset; */
            --cell-highlight: var(--cell-space) var(--cell-space) calc(4 * var(--cell-space)) calc(2 * var(--cell-space)) rgba(255, 255, 255, .66) inset;
        }

        :host {
            aspect-ratio: 1/1;
            display: grid;
            grid-auto-flow: row dense;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . .";
            background-color: rgba(100, 45, 0, 100%);
            background-blend-mode: multiply;
            border: var(--cell-space) solid var(--cell-border-color);
        }

        .board-cell {
            display: block;
            aspect-ratio: 1/1;
            text-align: center;
            justify-content: center;
            border: var(--cell-space) solid var(--cell-border-color);
            border-radius: 10%;
            background-color: magenta;
            background-blend-mode: multiply;
            box-shadow: var(--cell-shadow);
            overflow: hidden;
        }

        /* Even Groups */
        .board-cell[grp="0"],
        .board-cell[grp="2"],
        .board-cell[grp="4"],
        .board-cell[grp="6"],
        .board-cell[grp="8"] {
            background-color: var(--cell-color-dark);
        }

        /* Uneven Groups */
        .board-cell[grp="1"],
        .board-cell[grp="3"],
        .board-cell[grp="5"],
        .board-cell[grp="7"] {
            background-color: var(--cell-color-light);
        }

        /* Cell State*/
        @media (any-hover: hover) {
            .board-cell:hover {
                box-shadow: var(--cell-highlight) !important;
            }
        }

        .board-cell[state="0"]>.board-cell-img {
            display: none;
        }

        .board-cell[state="1"] {
            background-color: hsla(30, 100%, 24%, 100%);
        }

        .board-cell-img {
            max-width: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</template>
<template id="tmpl-game-boardcell">
    <div idx="0" grp="0" row="0" col="0" state="0" class="board-cell" onclick="toggleCell(this)">
        <img src="/img/block_white.svg" alt="block white" class="board-cell-img">
    </div>
</template>
<script id="scrpt-game-board">
    function indexTo1D(row, col) {
        const r = Math.max(0, Math.min(9, row));
        const c = Math.max(0, Math.min(9, col));
        return r * 9 + c;
    }
    function indexTo2D(index) {
        const idx = Math.max(0, Math.min(80, index));
        const col = idx % 9;
        const row = (idx - col) / 9
        return {
            row: row,
            col: col,
        }
    }
    function calcGroup(row, col) {
        const r = Math.max(0, Math.min(9, row));
        const c = Math.max(0, Math.min(9, col));
        const gr = Math.floor(r / 3) * 3;
        const gc = Math.floor(c / 3);
        return gr + gc;
    }

    function enableCell(cell) {
        // TODO Check cell is element
        // TODO Check cell has state attribute
        cell.setAttribute("state", 1);
    }
    function disableCell(cell) {
        // TODO Check cell is element
        // TODO Check cell has state attribute
        cell.setAttribute("state", 0);
    }
    function toggleCell(cell) {
        console.debug("toggleCell(", cell, ")");
        // TODO Check cell is element
        // TODO Check cell has state attribute
        let cellState = parseInt(cell.getAttribute("state"));
        if (cellState === 0) {
            enableCell(cell);
        } else if (cellState === 1) {
            disableCell(cell);
        } else {
            console.error("Invalid cell state", cellState, "on element: ", cell);
        }
    }

    const boardElementName = 'game-board';
    const boardTemplateId = 'tmpl-game-board';
    const boardTemplate = document.getElementById(boardTemplateId);
    const cellTemplateId = 'tmpl-game-boardcell';
    const cellTemplate = document.getElementById(cellTemplateId);
    class CustomBoardElement extends HTMLElement {
        createCells() {
            console.debug(this.localName, "createCells()");
            for (let row = 0; row < 9; row += 1) {
                for (let col = 0; col < 9; col++) {
                    let idx = indexTo1D(row, col);
                    let grp = calcGroup(row, col);
                    let clone = cellTemplate.content.cloneNode(true);
                    let elem = clone.firstElementChild;
                    elem.setAttribute("idx", idx)
                    elem.setAttribute("grp", grp)
                    elem.setAttribute("row", row);
                    elem.setAttribute("col", col);
                    this.shadowRoot.appendChild(elem);
                }
            }
        }
        connectedCallback() {
            console.debug(this.localName, "connectedCallback()");
            let templateContent = boardTemplate.content;

            let shadowRoot = this.attachShadow({ mode: "open" });
            shadowRoot.appendChild(templateContent.cloneNode(true));
            this.createCells();

        }
        constructor() {
            super();
            console.debug(this.localName, "constructor()");
        }
    }

    customElements.define(boardElementName, CustomBoardElement);
</script>