<template id="tmpl-game-board">
    <style>
        :host {
            aspect-ratio: 1/1;



            display: grid;
            grid-auto-flow: row dense;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 0em 0em;
            grid-template-areas:
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . ."
                ". . . . . . . . .";
        }

        .board-cell {
            display: block;
            aspect-ratio: 1/1;
            outline: 1px solid var(--color-text);
            text-align: center;
            justify-content: center;
        }
    </style>
    <span class="board-cell" row="0" col="0">r0c0</span>
    <span class="board-cell" row="0" col="1">r0c1</span>
    <span class="board-cell" row="0" col="2">r0c2</span>
    <span class="board-cell" row="0" col="3">r0c3</span>
    <span class="board-cell" row="0" col="4">r0c4</span>
    <span class="board-cell" row="0" col="5">r0c5</span>
    <span class="board-cell" row="0" col="6">r0c6</span>
    <span class="board-cell" row="0" col="7">r0c7</span>
    <span class="board-cell" row="0" col="8">r0c8</span>
    <span class="board-cell" row="1" col="0">r1c0</span>
    <span class="board-cell" row="1" col="1">r1c1</span>
    <span class="board-cell" row="1" col="2">r1c2</span>
    <span class="board-cell" row="1" col="3">r1c3</span>
    <span class="board-cell" row="1" col="4">r1c4</span>
    <span class="board-cell" row="1" col="5">r1c5</span>
    <span class="board-cell" row="1" col="6">r1c6</span>
    <span class="board-cell" row="1" col="7">r1c7</span>
    <span class="board-cell" row="1" col="8">r1c8</span>
    <span class="board-cell" row="2" col="0">r2c0</span>
    <span class="board-cell" row="2" col="1">r2c1</span>
    <span class="board-cell" row="2" col="2">r2c2</span>
    <span class="board-cell" row="2" col="3">r2c3</span>
    <span class="board-cell" row="2" col="4">r2c4</span>
    <span class="board-cell" row="2" col="5">r2c5</span>
    <span class="board-cell" row="2" col="6">r2c6</span>
    <span class="board-cell" row="2" col="7">r2c7</span>
    <span class="board-cell" row="2" col="8">r2c8</span>
    <span class="board-cell" row="3" col="0">r3c0</span>
    <span class="board-cell" row="3" col="1">r3c1</span>
    <span class="board-cell" row="3" col="2">r3c2</span>
    <span class="board-cell" row="3" col="3">r3c3</span>
    <span class="board-cell" row="3" col="4">r3c4</span>
    <span class="board-cell" row="3" col="5">r3c5</span>
    <span class="board-cell" row="3" col="6">r3c6</span>
    <span class="board-cell" row="3" col="7">r3c7</span>
    <span class="board-cell" row="3" col="8">r3c8</span>
    <span class="board-cell" row="4" col="0">r4c0</span>
    <span class="board-cell" row="4" col="1">r4c1</span>
    <span class="board-cell" row="4" col="2">r4c2</span>
    <span class="board-cell" row="4" col="3">r4c3</span>
    <span class="board-cell" row="4" col="4">r4c4</span>
    <span class="board-cell" row="4" col="5">r4c5</span>
    <span class="board-cell" row="4" col="6">r4c6</span>
    <span class="board-cell" row="4" col="7">r4c7</span>
    <span class="board-cell" row="4" col="8">r4c8</span>
    <span class="board-cell" row="5" col="0">r5c0</span>
    <span class="board-cell" row="5" col="1">r5c1</span>
    <span class="board-cell" row="5" col="2">r5c2</span>
    <span class="board-cell" row="5" col="3">r5c3</span>
    <span class="board-cell" row="5" col="4">r5c4</span>
    <span class="board-cell" row="5" col="5">r5c5</span>
    <span class="board-cell" row="5" col="6">r5c6</span>
    <span class="board-cell" row="5" col="7">r5c7</span>
    <span class="board-cell" row="5" col="8">r5c8</span>
    <span class="board-cell" row="6" col="0">r6c0</span>
    <span class="board-cell" row="6" col="1">r6c1</span>
    <span class="board-cell" row="6" col="2">r6c2</span>
    <span class="board-cell" row="6" col="3">r6c3</span>
    <span class="board-cell" row="6" col="4">r6c4</span>
    <span class="board-cell" row="6" col="5">r6c5</span>
    <span class="board-cell" row="6" col="6">r6c6</span>
    <span class="board-cell" row="6" col="7">r6c7</span>
    <span class="board-cell" row="6" col="8">r6c8</span>
    <span class="board-cell" row="7" col="0">r7c0</span>
    <span class="board-cell" row="7" col="1">r7c1</span>
    <span class="board-cell" row="7" col="2">r7c2</span>
    <span class="board-cell" row="7" col="3">r7c3</span>
    <span class="board-cell" row="7" col="4">r7c4</span>
    <span class="board-cell" row="7" col="5">r7c5</span>
    <span class="board-cell" row="7" col="6">r7c6</span>
    <span class="board-cell" row="7" col="7">r7c7</span>
    <span class="board-cell" row="7" col="8">r7c8</span>
    <span class="board-cell" row="8" col="0">r8c0</span>
    <span class="board-cell" row="8" col="1">r8c1</span>
    <span class="board-cell" row="8" col="2">r8c2</span>
    <span class="board-cell" row="8" col="3">r8c3</span>
    <span class="board-cell" row="8" col="4">r8c4</span>
    <span class="board-cell" row="8" col="5">r8c5</span>
    <span class="board-cell" row="8" col="6">r8c6</span>
    <span class="board-cell" row="8" col="7">r8c7</span>
    <span class="board-cell" row="8" col="8">r8c8</span>
</template>
<script id="scrpt-game-board">
    const boardElementName = 'game-board';
    const boardTemplateId = 'tmpl-game-board';
    const boardTemplate = document.getElementById(boardTemplateId);
    class CustomBoardElement extends HTMLElement {
        connectedCallback() {
            let templateContent = boardTemplate.content;

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(templateContent.cloneNode(true));
        }
        constructor() {
            super();
            this.state = new Uint8Array(81);
        }
    }

    customElements.define(boardElementName, CustomBoardElement);
</script>