<template hx-get="components/board.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template hx-get="components/score.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template hx-get="components/piecebuffer.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template id="tmpl-game">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        :host {
            --baseunit: 1em;
        }

        :host {
            display: grid;
            grid-auto-flow: row dense;
            grid-template-columns: 100%;
            grid-template-rows: auto 9fr 5fr;
            gap: var(--baseunit);
            /*non-grid setings*/
            aspect-ratio: 1/2;
            position: relative;
            padding-top: var(--baseunit) !important;
            padding-bottom: var(--baseunit) !important;
            /* debug settings */
            /* background-color: rgba(255, 0, 255, 50%); */
        }

        @media (min-aspect-ratio: 1/2) {
            :host {
                top: 0;
                left: calc(50% - 25vh);
                height: 100vh;
                width: 50vh;
            }
        }

        @media (aspect-ratio: 1/2) {
            :host {
                width: 100vw;
                height: 200vw;
                top: calc(100% - 200vw);
                left: 0;
            }
        }

        @media (max-aspect-ratio: 1/2) {
            :host {
                width: 100vw;
                height: 200vw;
                top: calc(100% - 200vw);
                left: 0;
            }
        }

        :host>* {
            /* background-color: rgba(0, 0, 0, 50%); */
            /* border: 1px solid var(--color-text); */
        }
    </style>
    <game-score></game-score>
    <game-board></game-board>
    <game-piecebuffer></game-piecebuffer>
</template>
<script id="scrpt-game">
    const gameElementName = 'game-wrap';
    const gameTemplateId = 'tmpl-game';
    const gameTemplate = document.getElementById(gameTemplateId);
    class CustomGameElement extends HTMLElement {
        connectedCallback() {
            console.debug(this.localName, "connectedCallback()");
            let templateContent = gameTemplate.content;

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(templateContent.cloneNode(true));

        }
        constructor() {
            super();
            console.debug(this.localName, "constructor()");
        }
    }

    customElements.define(gameElementName, CustomGameElement);
</script>