<template hx-get="components/board.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template hx-get="components/score.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template hx-get="components/piecebuffer.html" hx-swap="outerHTML" hx-trigger="load"></template>
<template id="tmpl-game">
    <style>
        * {
            font-family: "Open Sans", sans-serif;
            box-sizing: border-box;
            color: var(--color-text);
            padding: 0;
            margin: 0;
        }

        :host {
            justify-self: center;
            aspect-ratio: 1/2 !important;
            padding: var(--baseunit);
            display: grid;
            grid-auto-flow: row dense;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-template-columns: 100%;
            grid-template-rows: max(var(--baseunit), 10%) 50% auto;
            gap: var(--baseunit) 0em;
            justify-content: space-between;
            gap: var(--baseunit);
            border: 1px solid var(--color-text);
            background-color: rgba(0, 0, 0, 0%);
        }

        @media (min-aspect-ratio: 1/2) {
            :host {
                height: 100%;
            }
        }

        @media (max-aspect-ratio: 1/2) {
            :host {
                width: 100%;
            }
        }

        :host>* {
            width: 100%;
            background-color: rgba(0, 0, 0, 50%);
            outline: 1px solid var(--color-text);
        }
    </style>
    <game-score></game-score>
    <game-board></game-board>
    <game-piecebuffer></game-piecebuffer>
</template>
<script id="scrpt-game">
    const gameElementName = 'game-wrap';
    const gameTemplateId = 'tmpl-game';
    const gameTemplate = document.getElementById(gameTemplateId);
    class CustomGameElement extends HTMLElement {
        connectedCallback() {
            let templateContent = gameTemplate.content;

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(templateContent.cloneNode(true));
            console.debug(this, "connectedCallback()");
        }
        constructor() {
            super();
            console.debug(this, "constructor()");
        }
    }

    customElements.define(gameElementName, CustomGameElement);
</script>