<template id="tmpl-game-piecebuffer">
    <style>
        :host {
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: rgba(0, 0, 255, 10%);
            outline: 1px solid black;
        }

    </style>
</template>
<script id="scrpt-game-piecebuffer">
    const piecebufferElementNameElementName = 'game-piecebuffer';
    const piecebufferElementNameTemplateId = 'tmpl-game-piecebuffer';
    const piecebufferElementNameTemplate = document.getElementById(piecebufferElementNameTemplateId);
    class CustomPieceBufferElement extends HTMLElement {
        connectedCallback() {
            let templateContent = piecebufferElementNameTemplate.content;

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(templateContent.cloneNode(true));
        }
        attributeChangedCallback(name, oldValue, newValue) {
            console.log(`Attribute ${name} has changed.`);
        }

        constructor() {
            super();
            this.score = Number(0);
        }
    }

    customElements.define(piecebufferElementNameElementName, CustomPieceBufferElement);
</script>