<template id="tmpl-game-score">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        :host {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            min-width: 4em;
            width: 100%;
            height: fit-content;
            padding-left: 0.5em !important;
            padding-right: 0.5em !important;
            /**/
            background-image: url(/img/topography.svg);
            background-color: hsl(30, 100%, 12%);
            background-blend-mode: multiply;
            background-size: 30%;
            outline: 1px solid rgba(0,0,0,50%);
            
            /* border: 1px solid var(--color-text); */
            color: var(--color-text);
            font-size: 2em;
        }

        .score-display {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    </style>
    <p class="score-display">0999</p>
</template>
<script id="scrpt-game-score">
    const scoreElementName = 'game-score';
    const scoreTemplateId = 'tmpl-game-score';
    const scoreTemplate = document.getElementById(scoreTemplateId);
    class CustomScoreElement extends HTMLElement {
        connectedCallback() {
            let templateContent = scoreTemplate.content;

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(templateContent.cloneNode(true));
            this.setAttribute("score", this.score);
        }
        attributeChangedCallback(name, oldValue, newValue) {
            console.log(`Attribute ${name} has changed.`);
        }

        constructor() {
            super();
            this.score = Number(0);
        }
    }

    customElements.define(scoreElementName, CustomScoreElement);
</script>