<template id="tmpl-game-score">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        :host {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            min-width: 4em;
            width: 100%;
            height: fit-content;
            padding-left: 0.5em !important;
            padding-right: 0.5em !important;
            /**/
            outline: 1px solid rgba(0, 0, 0, 50%);
            background-color: hsl(30, 100%, 12%);
            color: var(--color-text);
            font-size: 2em;
        }

        #score-display {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    </style>
    <p id="score-display">0000</p>
</template>
<script id="scrpt-game-score">
    const scoreElementName = 'game-score';
    const scoreTemplateId = 'tmpl-game-score';
    const scoreTemplate = document.getElementById(scoreTemplateId);
    class CustomScoreElement extends HTMLElement {
        // https://developer.mozilla.org/en-US/docs/Web/API/Web_components/Using_custom_elements#responding_to_attribute_changes
        static observedAttributes = ['value'];
        connectedCallback() {
            console.debug(this.localName, "connectedCallback()");

        }
        attributeChangedCallback(name, oldValue, newValue) {
            console.debug(this.localName, `attributeChangedCallback(name: ${name}, oldValue: ${oldValue},newValue: ${newValue},")`);
            if(name == 'value'){
                this.shadowRoot.getElementById('score-display').textContent = this.value.toString().padStart(4,'0')
                return;
            }
            
        }
        get value() { return parseInt(this.getAttribute('value')); }
        set value(value) {
            if (!TypeChecker.isInteger(value)) { throw new Error(`Expected integer but found ${typeof value}`) }
            this.setAttribute("value", value);
        }

        constructor() {
            super();
            let clone = scoreTemplate.content.cloneNode(true);

            this.attachShadow({ mode: "open" });
            this.shadowRoot.appendChild(clone);
            this.setAttribute("value", 0);
        }
    }

    customElements.define(scoreElementName, CustomScoreElement);
</script>